body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header-section {
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 16px;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  min-height: 400px;
  align-items: center;
}

.middle-section {
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.middle-text {
  font-size: 36px;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.middle-images {
  min-height: 70%;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: flex-start;
}

.middle-img-text {
  width: 140px;
  height: 200px;
}

.middle-img {
  width: 140px;
  height: 140px;
  border-style: solid;
  border-radius: 5%;
  border-color: #3882f6;
  margin-bottom: 7px;
}

.img-subtext {
  text-align: center;
  color: grey;
}

.quote-section {
  min-height: 400px;
}

.header-urls {
  display: flex;
  align-items: center;
}

.header-section a {
  color: #e5e7eb;
  text-decoration: none;
  margin-right: 16px;
}

.dark-bg {
  background-color: #1f2937;
}

.grey-bg {
  background-color: #e5e7eb;
}

.blue-bg {
  background-color: #3882f6;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.hero-header {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-description {
  font-size: 18px;
  color: #e5e7eb;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  text-align: left;
}

.hero-button {
  border-radius: 5px;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 120px;
  border: 0;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 50%;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: grey;
  width: 25%;
  height: auto;
}
